
body {
    margin: 50px;
}

.slider.slider-horizontal {
    width: 100%;
}

.panel_body_padding {
    padding: 40px;
}

.def_conf {
    display: flow-root;
    margin-bottom: 50px;

    padding-bottom: 25px;
}

.full_conf {
    display: flow-root;

}

.cc-color-override-1961755968.cc-window {
    bottom: 0em;
    right: 0em;
    width: 300px;
    padding: 25px;
    height: auto;
    background: #212221;
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Helvetica, Calibri, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    z-index: 1001;
    opacity: .99;
    -moz-opacity: 0.99;
    filter: alpha(opacity=99);
}

body > div.cc-window.cc-floating.cc-type-info.cc-theme-edgeless.cc-bottom.cc-right.cc-color-override-1961755968 > div > a


@media (max-width: 1024px) {
    .cc-color-override-1961755968.cc-window {
        bottom: 0em;
        right: 0em;
        width: 100%;
        padding-left: 25px;
        padding-bottom: 10px;
        padding-top: 5px;
        height: auto;
        background: #212221;
        position: fixed;
        overflow: hidden;
        box-sizing: border-box;
        font-family: Helvetica, Calibri, Arial, sans-serif;
        font-size: 11px;
        line-height: 1.5em;
        z-index: 1001;
        opacity: .99;
        -moz-opacity: 0.99;
        filter: alpha(opacity=99);
        margin: 0px;
    }
}



